$custom-colors: (
	"mutedWarning": rgb(211, 212, 110),
);
.bg-simar {
	background-color: rgb(206, 85, 85);
}
.bg-normalFlight {
	background-color: rgb(166, 112, 216);
}
.bg-alert {
	background-color: rgb(109, 187, 144);
}
.bg-event {
	background-color: rgb(219, 188, 84);
}
.card-body-color {
	background-color: rgb(220, 224, 228);
}
.alegreya {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.mutedWarning {
	color: rgb(233, 198, 133);
}
.yellowGroup {
	background-color: rgb(248, 246, 112);
}
.redGroup {
	background-color: rgb(250, 161, 166);
}
.blueGroup {
	background-color: rgb(164, 208, 252);
}
$primary: rgb(88, 160, 231);
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$theme-colors: map-merge($theme-colors, $custom-colors);
@import "../node_modules/bootstrap/scss/bootstrap";
